* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr{
  margin: 20px 15%;

}

body{
  font-family: 'Fredoka', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 10%;
}

.button {
  display: inline-block;
  border-radius: 20px;
  color: black;
  background-color: white;
  margin: 10px ;
}

header .button:hover {
  color: #265DE8 ;
}


.button.grande{

  padding: 10px 15px;
}

.button.piccolo {
  padding: 5px 10px;
  font-size: 13px;
  
}
h1 {
  font-size: 35px;
}

.bg-grey{
  background-color: lightgray;
}


.wave-container {
  background: url(../img/wave-5.svg);
  background-size: cover;
  background-color: lightgray;
  height: 100px;
  
  
}

 .top{

  background: url(../img/wave-5-flipped.svg);
  height: 100px;
  background-color: lightgray;
  background-size: cover;
}


  


/* Header */


header{

display: flex;
justify-content: space-between;
flex-wrap: wrap;
height: fit-content;
background-image: url(../img/jumbo.png);
background-size: cover;
background-position: center;


}

header .container {
  display:flex ;
  width: 100%;
}


.primo-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  min-width: 90%;
  
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

nav ul li {
  
  list-style: none;
  margin: 12px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: underline;
}


header .button.black{
  
  background-color: #23272A;
  color: white;
}

header .button.black:hover {
  background-color: #36393f ;
}
  
/* Section 1 */



.intro {
  text-align: center;
  color: white;
  margin: 50px 20%;
}

.section-1 .intro h1{
  font-size: 40px;
  margin-bottom: 30px;
}

.button-block {
  margin-top: 20px;
}

/* Main */
  main .container{
    display: flex;
    justify-items: center;
  }

/* sections 2-3-4 */

.section-2, .section-3, .section-4 {
  display: flex;
  justify-items: center;
  width: 90%;
  margin: auto;

  
}


.immagine img{
min-height: 350px;
width: 100%;
}

.section-2 {
  margin-top: 50px;
  
}

.section-3 {
  display: flex;
  width: 100%;
  padding: 100px 0;
}


.flexer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.immagine {
  width: 50%;
}

 .testo {
  margin: 20px;
  width: 40% ;
  padding:  5%;
  
}
  

/* section 5 */

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

.intestazione {
  height: 100px;
  width: 70%;

  margin-bottom: 10px;
}
.immagine-ultima img{
  align-items: center ;
  height: 700px;
  width: 90%;
  
 
}

.testo-button {
  padding: 20px;
  background-image: url(../img/stars.svg);
  background-size: 500px;
  background-position: top center;
}


.scarica{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 70%;


}

.scarica .azzurro{
  background-color: #8FA1E1;
  color: white;
}


.scarica div:hover {
  background-color: #4160c7;
}



/* Footer */
footer {
  background-color: #23272A ;
  padding: 15px;
}


.primo-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 15%;
  color: white;
}





.grande-footer {

  min-height: 300px;
  width: 30%;
  
}

select {
  background-color: #23272A;
  border: #23272A;
  color: white;
  font-size: ;
}


#language {
  
} 

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  
}

.link-aside-footer {
  min-height: 300px;
  width: 17.5%;
  margin-left: 5px;
  font-size: 13px;
}

footer h2, h4 {
  color: #728ADB;
}


.fa-brands{
  margin: 0 5px;
}

aside ul li a{

}

aside ul li a:hover {
  text-decoration: underline;
}
.second-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  
  margin: 0px 15%;
}

.logo-footer  {
}


.bottone-footer {
  background-color: #728ADB;
  color: white;
}


.bottone-footer:hover {
  background-color: #4160c7;
}
#language {
  margin-top: 20px;
}

.icons-footer{
  margin-top: 20px;
}

.icons-footer a {
  text-decoration: none;
  color: white;
} 


.link-aside-footer ul{
  list-style: none;
}


.link-aside-footer ul li a{
  text-decoration: none;
  color: azure;
}

